@model TaskManager.ViewModels.SubtaskLevel1ViewModel
@{
    ViewBag.Title = "SubtaskLevel1Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sub Task</h2>
<hr />

@using (Html.BeginForm("Save", "SubtaskLevel1",
            FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        <label class="control-label col-sm-2" for="SubTaskOrder">Order</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(s => s.SubTaskOrder, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.SubTaskOrder)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="SubTaskName">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(s => s.SubTaskName, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.SubTaskName)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="SubTaskDescription">Description</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(s => s.SubTaskDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.SubTaskDescription)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="PriceId">Price</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(s => s.PriceId, new SelectList(Model.Prices, "PriceId", "Amount"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.PriceId)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="MemberId">Assigned to</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(s => s.MemberId, new SelectList(Model.Members, "MemberId", "FullName"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.MemberId)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="DateCreated">Date Created</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(t => t.DateCreated, "{0:dd/MM/yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(t => t.DateCreated)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Hours">Hours</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(t => t.Hours, new { @class = "form-control" })
            @Html.ValidationMessageFor(t => t.Hours)
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="TaskStatusId">Status</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(s => s.TaskStatusId, new SelectList(Model.TaskStatuses, "TaskStatusId", "TaskStatusName"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.TaskStatusId)
        </div>
    </div>
    @Html.HiddenFor(t => t.SubTaskId)
    @Html.HiddenFor(t => t.TaskId)
    @Html.AntiForgeryToken()

    if (Model.TaskId == 0)
    {
        <a href="/Tasks/New" class="btn btn-default">Close</a>
    }
    else
    {
        <a href='@("/Tasks/Edit/" + Model.TaskId)' class="btn btn-default">Close</a>
    }
    <button type="submit" class="btn btn-primary">Save</button>
}

