@model TaskManager.ViewModels.TasksFormViewModel

@{
    /**/

    ViewBag.Title = "TaskForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Task Form</h2>
<hr />
<h4>Task Details</h4>
@using (Html.BeginForm("Save", "Tasks",
        FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="TaskName">Name</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(t => t.TaskName, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.TaskName)
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="IsTemplate">Use as Template</label>
            <div class="col-sm-8">
                @Html.CheckBoxFor(t => t.IsTemplate, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.IsTemplate)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="TaskDescription">Description</label>
            <div class="col-sm-8">
                @Html.TextAreaFor(t => t.TaskDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.TaskDescription)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="TaskTypeId">Type</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(t => t.TaskTypeId, new SelectList(Model.TaskTypes, "TaskTypeId", "TaskName"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.TaskTypeId)
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="TaskCategoryId">Category</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(t => t.TaskCategoryId, new SelectList(Model.TaskCategories, "TaskCategoryId", "CategoryName"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.TaskCategoryId)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="DateCreated">Date Created</label>
            <div class="col-sm-8">
                <div class='input-group date' id='datetimepicker1'>
                    @Html.TextBoxFor(t => t.DateCreated, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.ValidationMessageFor(t => t.DateCreated)
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="Hours">Hours Required</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(t => t.Hours, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.Hours)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="CompanyId">Company</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(t => t.CompanyId, new SelectList(Model.Companies, "CompanyId", "CompanyName"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.CompanyId)
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="PriceId">Price</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(t => t.PriceId, new SelectList(Model.Prices, "PriceId", "Amount"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.PriceId)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="PriceId">Assigned To</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(t => t.MemberId, new SelectList(Model.Members, "MemberId", "FullName"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.MemberId)
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label col-sm-3" for="TaskStatusId">Status</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(t => t.TaskStatusId, new SelectList(Model.TaskStatuses, "TaskStatusId", "TaskStatusName"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.TaskStatusId)
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="btn btn-info" data-toggle="collapse" href="#currentTasks">Occurence Options</a>
            </h4>
        </div>
        <div id="currentTasks" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="Hours">Renewal Pattern</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="Hours">Repeat Every</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="Hours">Start Date</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="Hours">End On Date</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="Hours">Number Of Dates</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ul style="list-style-type:none">
                        <li><label class="control-label" for="Hours">Sunday <input id="daylistSunday" type="checkbox" /> </label></li>
                        <li><label class="control-label" for="Hours">Monday <input id="daylistMonday" type="checkbox" /> </label></li>
                        <li><label class="control-label" for="Hours">Tuesday <input id="daylistTuesday" type="checkbox" /> </label></li>
                        <li><label class="control-label" for="Hours">Wednesday <input id="daylistWednesday" type="checkbox" /> </label></li>
                        <li><label class="control-label" for="Hours">Thursday <input id="daylistThursday" type="checkbox" /> </label></li>
                        <li><label class="control-label" for="Hours">Friday <input id="daylistFriday" type="checkbox" /> </label></li>
                        <li><label class="control-label" for="Hours">Saturday <input id="daylistSaturday" type="checkbox" /> </label></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="display:block;"> 
        <div class="col-sm-12">
            <div class="btn-group pull-right">
                <a href="/Tasks/Index/0" class="btn btn-default">Close</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>  
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
}

