@model TaskManager.ViewModels.MembersFormViewModel

@{
    ViewBag.Title = "Member Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Member Form</h2>

@using (Html.BeginForm("Save", "Members"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MemberGroupId)
        @Html.DropDownListFor(m => m.MemberGroupId, new SelectList(Model.MemberGroups, "MemberGroupId", "MemberGroupName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MemberGroupId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MemberPositionId)
        @Html.DropDownListFor(m => m.MemberPositionId, new SelectList(Model.MemberPositions, "MemberPositionId", "MemberPositionName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MemberPositionId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
    @Html.HiddenFor(m => m.MemberId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}