@model TaskManager.ViewModels.EmailTemplateViewModel

@{
    /**/

    ViewBag.Title = "Email Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Email Template</h2>
<hr />
<br />
@using (Html.BeginForm("Save", "EmailTemplates",
            FormMethod.Post, new { @id = "EmailTemplates", @class = "form-horizontal", @onsubmit = "DoSubmit();" }))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    @Html.AntiForgeryToken()

    @*Modal for Attachments*@
    <div id="attachFile" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Attachment File</h4>
                </div>
                <div class="modal-body">
                    <div id="modalAttachments">
                        <div class="container border-primary">
                            <input id="fileAttach1" class="form-control-file" name="file" type="file" />
                            <input class="hidden" name="mailTemplateId" value="@Model.MailTemplateId" />
                            <input class="hidden" name="fileType" value="file1" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="attachBtn" type="button" class="btn btn-primary" data-dismiss="modal">Attach</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Subject">Subject</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(t => t.Subject, new { @class = "form-control" })
            @Html.ValidationMessageFor(t => t.Subject)
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Body">Body</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(t => t.Body)
            @Html.ValidationMessageFor(t => t.Body)
        </div>
    </div>

    <hr />
    <h4>Attachments</h4>
    <hr />
    <br />

    <div class="container">
        <div class="row" style="height:auto;"> 
            <ul style="list-style-type:none" id="attachmentList">
                @{
                    if (Model.FileNames != null)
                    {
                        string[] files = Model.FileNames.Split(';');

                        for (byte i = 0; i < files.Length; i++)
                        {
                            <li>@files[i]</li>
                        }
                    }
                  }
            </ul>
        </div>
        <br />
        <a title="Add this item" data-toggle="modal" class="btn btn-primary btn-sm" href="#attachFile">Add File</a>
    </div>

    @Html.HiddenFor(t => t.MailTemplateId)
    @Html.HiddenFor(t => t.Body)
    @Html.HiddenFor(t => t.DateCreated)
    @Html.HiddenFor(t => t.MadeBy)
    @Html.HiddenFor(t => t.NumberOfAttachments)
    @Html.HiddenFor(t => t.FileNames)


    <div class="container">
        <div class="form-group" style="display:block;">
            <div class="col-sm-12">
                <div class="btn-group pull-right">
                    <a href='@("/Home/Index")' class="btn btn-default">Close</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var attachments = 0;

        $(document).ready(function () {
            $('#Body').summernote({
                height: 300
            });

            $('#attachBtn').click(function () {
                if ($('#fileAttach1').val() != '') {
                    uploadFile();
                }
            })
        });

        function uploadFile() {
            var myform = document.getElementById("EmailTemplates");
            var fd = new FormData(myform);

            $.ajax({
                // Your server script to process the upload
                url: '/api/UploadFile/email',
                type: 'POST',

                // Form data
                data: fd,

                // Tell jQuery not to process data or worry about content-type
                cache: false,
                contentType: false,
                processData: false,

                // Custom XMLHttpRequest
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        // For handling the progress of the upload
                        myXhr.upload.addEventListener('progress', function (e) {
                            if (e.lengthComputable) {
                                $('progress').attr({
                                    value: e.loaded,
                                    max: e.total,
                                });
                            }
                        }, false);
                    }
                    return myXhr;
                },
            })
                .done(function () {
                    var fullPath = $('#fileAttach1').val();
                    var fileName = fullPath.replace(/^.*?([^\\\/]*)$/, '$1');
                    attachments++;
                    var tempFileName = $('input[name="FileNames"]').val();
                    if (tempFileName != "") {
                        tempFileName += ";"
                    }
                    $('input[name="FileNames"]').val(tempFileName + fileName);

                    $('#attachmentList li:last').after('<li><div class="col-sm-10"><input style="border:none;display:inline;background-color#ffffff;width:800px"' +
                        ' disabled id="fileName' + attachments + '" type="text" value="' + fileName + '" /></div></li>');

                    toastr.success("Upload successful.");
                })
                .fail(function () {
                    toastr.error("Something unexpected happened.");
                });;
        }

        function DoSubmit() {
            $('input[name="NumberOfAttachments"]').val(attachments);
            return true;
        }
    </script>
}